*{
        
    color: #0B0C10;
    /* rgb(11, 12, 16) */

    color: #1F2833;
    /* rgb(31, 40, 51) */

    color: #C5C6C7;
    /* rgb(197, 198, 199) */

    color: #66FCF1;
    /* rgb(102, 252, 241) */

    color: #45A29E;
    /* rgb(69, 162, 158) */
}