*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'EB Garamond', serif;
}
/* ---------------------- --------------------------*/
/* ----------------------font-family --------------------------*/
/* ---------------------- --------------------------*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500&display=swap');

/* ---------------------- --------------------------*/
/* ----------------------header --------------------------*/
/* ---------------------- --------------------------*/
.header-contain
{
    background-color: #1F2833;
    padding: 2em;
}
.logo-contain
{
    width: 80%;
}
.logo-contain img
{
    width: 80px;
}
.login-contain
{
    width: 10%;
    text-align: center;
    font-size: 15.5px;
}
.login-contain a
{
    text-decoration: none;
}
.login-contain .btn-login
{
    font-size: 2em;
    border-radius: 5px;
    color:  #45A29E;
    margin-left:4em;
}
.login-contain .btn-login:hover
{
    border-radius: 0px;
    transition-duration: 0.5s;
    color:#66FCF1;
    background-color: rgba(197, 198, 199,0.5);
    border-radius: 50%;
}
.shoping-contain
{
    text-align: center;
    justify-items: center;
}
.bi-cart
{
    color:#45A29E;
    font-size: 1.7em;
    margin-right: 20px;
    margin-left: 1em;
}
#shoping-car .bi-cart:hover
{
    color:#66FCF1;
    transition-duration: 0.5s;
    border-radius: 40%;
    background-color: rgba(197, 198, 199,0.4);
}

/* ---------------------- --------------------------*/
/* ---------------------- intro content --------------------------*/
/* ---------------------- --------------------------*/
.intro-contain
{
    position: relative;
    height: 100vh;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.intro-text
{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    margin-top: 20%;
}
.intro-text h1
{
    color:  #66FCF1;
}
.intro-text h2
{
    color:  #66FCF1;
}
.intro-text img
{
    width: 150px;
}
.intro-video
{
    position: absolute;
    z-index: -1;
}
.video-overlay
{
    height: 100%;
    background-color: rgba(31, 40, 51,0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

/* ---------------------- --------------------------*/
/* ---------------------- motivate-contain --------------------------*/
/* ---------------------- --------------------------*/

.motivate-contain
{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to top,rgba(31, 40, 51,0.8),rgba(197, 198, 199,0.4)) ,url("../img/motivate.png");
    background-repeat: repeat;
    background-size: cover;
}
.motivate-contain h3
{
    width: 100%;
    padding-top: 12em;
    color:  #66FCF1;
    padding-left: 10%;
}
.motivate-contain img
{
    width: 100%;
    height: 100%;
}
.motivate-contain p
{
    position: absolute;
}
.CheckProduct
{
    margin-left: 10%;
    padding-top: 1em;
}
.motivate-contain .CheckProduct a
{
    padding: 0.2em;
    text-decoration: none;
    color: #66FCF1;
    background-color:  #1F2833;
    font-size: 1.7em;
    border: 1px solid #C5C6C7;
    border-radius: 10px;
}
.CheckProduct a:hover
{
    color:#1F2833;
    background: linear-gradient(to right,#C5C6C7 40%,#66FCF1 50%);
    transition-duration: 1s;
    border: 1px solid #C5C6C7;
    border-radius:0px;
}
/* ---------------------- --------------------------*/
/* ---------------------- category-contain --------------------------*/
/* ---------------------- --------------------------*/
.category-contain
{
    height: 100vh;
    background-image: linear-gradient(to bottom,rgba(31, 40, 51,0.8),rgba(197, 198, 199,0.5)) ,url("../img/CategoryBackground.jpg");
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
}

.CategoryName 
{
    height: 20%;
    width: 20%;
    margin-right: 20px;
    display: inline-block;
}
.CategoryName .CategoryText
{
    color: #1F2833;
    font-weight: 20em;
}
.CategoryImage
{
    width: 40%;
    height: 120px;
}
/* for pc Width >= 1024px*/
@media only Screen and (min-width: 64em)
{
    .CategoryName:hover .CategoryText
    {
        color: #66FCF1;
        z-index: 1;
        transition-duration: 0.8s;
    }
    .CategoryName:hover .CategoryImage
    {
        width: 60%;
        height: 140px;
        transition-duration: 0.8s;
    }
    .CategoryInfo
    {
        padding-top: 17em;
    }
}

/* ---------------------- --------------------------*/
/* ---------------------- footer-contain --------------------------*/
/* ---------------------- --------------------------*/
footer
{
    background-color:  #C5C6C7;
}

/* mobile: Width < 740px */
@media only Screen and (max-width: 46.1875em)
{
    .logo-contain
    {
        width: 60%;
    }
    .logo-contain img
    {
        width: 70px;
    }
    .login-contain
    {
        width: 40%;
        text-align: center;
        font-size: 10px;
    }
    .login-contain .btn-login
    {
        font-size: 2.5em;
    }
    .intro-contain
    {
        height: 80vh;
        background-image: linear-gradient(to bottom,rgba(31, 40, 51,0.8),rgba(197, 198, 199,0.4)) ,url("../img/intro_mobie.png");
    }
    .intro-text
    {
        margin-top: 50%;
    }
    .video-overlay
    {
        display: none;
    }
    .intro-video
    {
        display: none;
    }
    .motivate-contain
    {
        background-image: linear-gradient(to top,rgba(31, 40, 51,0.8),rgba(197, 198, 199,0.4)) ,url("../img/movivate_mobie.png");
        height: 100vh;
    }
    .motivate-contain h3
    {
        font-size: 20px;
    }
    .CheckProduct
    {
        font-size: 0.72em;
    }
    .category-contain
    {
        background-image: linear-gradient(to top,rgba(31, 40, 51,0.8),rgba(197, 198, 199,0.4)) ,url("../img/CategoryBackground_mobie.png");
        height: 100vh;
    }
    .CategoryInfo
    {
        display:block;
        align-items: center;
    }
    .CategoryName 
    {
        position: relative; 
        padding-top: 3em;
        width: 100%;
        margin: 0px;
    }
    .CategoryText h2
    {
        color:  #66FCF1;
        font-size: 2.1em;
    }
    .CategoryImage
    {
        width: 8em;
    }
}
/* mobile:  width < 320px */
@media only Screen and (max-width: 20em)
{
    .intro-video
    {
        display: none;
    }
    .video-overlay
    {
        display: none;
    }
    .motivate-contain h3
    {
        font-size: 20px;
    }
    .CategoryInfo
    {
        height: 100%;
        display: block;
    }
    .CategoryName
    {
        margin-top: 1em;
    }
    .CategoryImage
    {
        width: 8em;
    }
    .CategoryText h2
    {
        font-size: 1em;
    }
    .CategoryImage:hover
    {
        background-color: rgba(31, 40, 51,0.5);
    }
    .login-contain
    {
        margin: 0px;
    }
    .login-contain .btn-login
    {
        font-size: 2.2em;
        margin-left: 0px;
    }
}


/* tablet: width  >= 740px and width < 1024px */
@media only Screen and (min-width: 46.25em) and (max-width: 64em)
{
    .logo-contain
    {
        width: 60%;
    }
    .logo-contain img
    {
        width: 10em
    }
    .login-contain
    {
        width: 30%;
        text-align: center;
        font-size: 10px;
    }
    .login-contain .btn-login
    {
        font-size: 3.8em;
    }
    .shoping-contain #shoping-car
    {
        font-size: 1.3em;
    }
    .intro-contain
    {
        background-image: linear-gradient(to bottom,rgba(31, 40, 51,0.8),rgba(197, 198, 199,0.4)) ,url("../img/intro-image.jpg");
    }
    .intro-text
    {
        margin-top: 18em;
    }
    .intro-video
    {
        display: none;
    }
    .video-overlay
    {
        display: none;
    }
    .intro-text h1
    {
        font-size: 5em;
        font-weight: 3em;
    }
    .intro-text img
    {
        width: 20em;
    }
    .intro-text h2
    {
        font-size: 5em;
    }
    .motivate-contain h3
    {
        font-size: 3em;
        padding-top: 8em;
    }
    .CheckProduct
    {
        font-size: 1em;
    }
    .CategoryName 
    {
        margin-top: 8em;
        width: 100%;
        margin-right: 0px;
    }
    .CategoryName .CategoryText h2
    {
        font-weight: 5em;
        font-size: 3em;
    }
    .CategoryName .CategoryImage
    {
        width: 10em;
    }
}

/* -------------------------------------------------------------------------------
-----------------------login-page----------------------------------
------------------------------------------------------------------------------------- */
.login-card
{
    height: 121vh;
    background: linear-gradient(to right, rgba(102, 252, 241,0.5) 10%,rgba(69, 162, 158,0.4) 60%);
}
#login .container #login-row #login-column #login-box 
{
    width: 32rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    margin-top: 8em;
}
#login .container #login-row #login-column #login-box:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(197, 198, 199, .5);
    filter: blur(10px);
    margin: -20px;
}
#login-form
{
    margin: 10px;
}
#login-form h3
{
    color:  #1F2833;
}
#register-link
{
    margin-top: 1em;
}
#register-link a
{
    text-decoration: none;
    color: #1F2833;
}
#register-link a:hover
{
    color: #45A29E;
    border-bottom: 1px solid #45A29E;
}
#forgot-link a
{
    text-decoration: none;
    color:#1F2833;
}
#forgot-link a:hover
{
    color: #45A29E;
    border-bottom: 1px solid #45A29E;
}

.col video
{
    width: 20em;
}
.col
{
    border: 1px solid;
}
#singup-box
{
    width: 32rem;
    height: 42rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    margin-top: 8em;
}
.signup-btn
{
    margin-top: 1em;
}

/* ---------------------------------------------------------------------
-----------------------------------CategoryCursus------------------------
-------------------------------------------------------------------------- */
.VideoCursus
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(11, 12, 16, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.DiplayVideo
{
    visibility: visible;
    opacity: 1;
    transition-duration: 0.8s;
}
.VideoCursus video
{
    position: relative;
    max-width: 60em;
    outline: none;
}
@media(max-width: 911px)
{
    .VideoCursus video
    {
        max-width: 90%;
    }
}
.close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 3em;
}
.cursus-info img
{
    width: 10em;
    border-radius: 10px;
}
.cursusinfo-head a
{
    border: 1px solid #1F2833;
    padding: 3px;
    text-decoration: none;
    color: #C5C6C7;
    background-color:  #45A29E;
}
.cursusinfo-head a:hover
{
    transition: 0.5s;
    color: #66FCF1;
    background-color:  #1F2833;
}
.cursusinfo-head h1
{
    color: #1F2833;
}

/* -------------------------------------------------------------------------------
-----------------------shopping-cart----------------------------------
------------------------------------------------------------------------------------- */
.spCart-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 4em;

}

.spCart-container > h1{
    padding: 20px 0;
}

.product{
    display: flex;
    width: 100%;
    height: 225px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
} 

.product :hover{
    border: none;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.2);
    transform: scale(1.01);
}



.product > img:hover{
    transform: scale(1.04);
}

.products
{
    background-color: #C5C6C7;
    width: 100%;
}

.product-info{
    padding: 20px;
    width: 100%; 
    position: relative; 
}

.product-name, .product-price, .product-offer{
    margin-bottom: 20px;
}

.product-remove{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #45A29E;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-remove:hover{
    background-color: white;
    color: #45A29E;
    font-weight: 600;
    border: 1px solid green;
}

.product-quantity > input{
    width: 40px;
    

}

.bi{
    margin-right: 5px;
}

.cart-total{
    flex: 0.25;
    margin-left: 70%;
    padding: 30px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}

.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    margin-bottom: 1em;
}

.cart-total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #45A29E;
    color: silver;
    text-decoration: none;
  
}

.cart-total a:hover{
    background-color:  #66FCF1;
}

